import { tv, VariantProps } from 'tailwind-variants'

const {{name}}Classes = tv({
  slots: {
    base: ''
  }
})

type {{pascalCase name}}Props = VariantProps<typeof {{name}}Classes> & {
  title?: string
}

const {{pascalCase name}} = ({ title }: {{pascalCase name}}Props) => {
  const { base } = {{name}}Classes()

  return (
    <main className={base()}>
      <h1>{title}</h1>
    </main>
  )
}

export { {{pascalCase name}} }
